<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Test Template</title>
  </head>
  <body>

    <div class="messages">
      <table class="msgs">
        <tr data-repeat-element="msg">
          <td>
            <div class="msg" data-set-class-element="own">
              <div data-replace-element="text"></div>
              <div class="msg-timestamp">
                <span class="unixtm">
                  <span data-replace-element="time"></span>
                </span>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

  </body>
</html>
